{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container">
<form method="post">
  <div class="form-row">
    <div class="col">
      <input type="username" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    </div>
    <div class="col">
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
    </div>
  </div>
  <div class="container">
        <button class="btn btn-outline-primary" type="submit">
            Sign in
        </button>
        <a href="{{ path('user_registration') }}" class="btn btn-outline-primary">Registration</a>
    </div>
</form>
</div>
{% endblock %}
 