{% extends 'base.html.twig' %}

{% block title %}New Instrument{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Instrument</h1>
    </div>
    <div class="container">
        {{ include('instrument/_form.html.twig') }}
    </div>
    <div class="container">
        <a href="{{ path('instrument_index') }}" <a href="{{ path('instrument_index') }}" class="btn btn-outline-primary">Back to list</a>
    </div>
{% endblock %}
