{% extends 'base.html.twig' %}

{% block title %}New Instrument{% endblock %}

{% block body %}
    <h1>Create new Instrument</h1>

    {{ include('instrument/_form.html.twig') }}

    <a href="{{ path('instrument_index') }}">back to list</a>
{% endblock %}
