{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Hello {{ data }}! ✅</h1>
    </div>
    <div class="container">
        <a href="{{ path('instrument_index') }}">Your Assets</a>
        <br>
        <a href="{{ path('data') }}">Show Assets' Worth</a>
    </div>
{% endblock %}
