<!DOCTYPE html>
<html>
    <head>        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>{% block title %}Financial Aid Application{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <style>
        .container { margin: 1em auto; max-width: 1280px; width: 95%; font: 18px/1.5 sans-serif; }
        .container { background: #F5F5F5; padding: 2px 6px; }
        .logged.user { margin: 1em auto; max-width: 1280px; width: 95%; font: 18px/1.5 sans-serif; }
        .logged.user { background: #F5F5F5; padding: 2px 6px; }
        </style>
        <div id="sidebar" class="container">
            {% block sidebar %}
                <ul>
                    <li><a href="/" class="btn btn-outline-primary">Home</a></li>
                    {% if (app.user) %}                        
                        <li><div class="logged.user text-primary text-capitalize" >
                            "{{ app.user.getusername }}" is logged in. <a href="/logout" class="btn btn-outline-danger">Logout</a>
                        </div></li>                
                    {% elseif (app.user == null) %}
                        <li><a href="/register">Registration</a></li>
                    {% endif %}

                </ul>
            {% endblock %}
        </div>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% endblock %}
    </body> 
</html>
